<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Naviair</title>
    <link rel="stylesheet" href="login.css">

</head>
<body>

<div class="container">
    <nav>
        <a class="logo" href="/"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Naviair_Logo.svg/2000px-Naviair_Logo.svg.png"
                width="200"> </a>

    </nav>
    <br>
    <br>
    <form>
        <br>
        <br>

        <div class="containerLogin">
            <h1>IT - Arkiv</h1>
            <br>
            <br>
            <a href="/adminEquipment" class="loginBnt">Admin Login </a>

            <a href="/helpdeskEquipment" class="loginBnt">Helpdesk Login</a>
            <br>
            <br>
            <br>
            <br>

        </div>
    </form>
</div>

</body>
</html>